<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuig.philip.projectenda">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_Coarse_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon_round"
        android:label="P. ENDA"
        android:roundIcon="@mipmap/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnBvLo8jSf9Mkli38_gEnKWJbDffB37wA" />

        <activity
            android:name=".Login.SignIn"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Challenge_Page.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.AddFriends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leaderboards.Leaderboards"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>